<!DOCTYPE html>
<html>
<head>
    <script src="script.js"></script>
    <script src="htmx.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Light Configuration</title>
</head>
<body>
    <div id="container" class="container">
        <h1>Light Configuration</h1>
        <div class="maintablist">
            <button id="inputTabButton" type="button" class="maintablinks active" hx-get="input.htm" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Input</button>
            <button id="levelTabButton" type="button" class="maintablinks" hx-get="levels.htm" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Levels</button>
            <button id="outputTabButton" type="button" class="maintablinks" hx-get="outputs.htm" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Output</button>
            <button id="utilityTabButton" type="button" class="maintablinks" hx-get="utility.htm" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Utility</button>
        </div>

        <div id="tabContent" class="maintabcontent show" hx-on="htmx:afterSettle: loadDefaultTab()"></div>
    </div>
</body>
</html>