<div id="levelsTab">
    <div class="leveltablist">
        <button id="level1TabButton" type="button" class="leveltablinks active" hx-get="level1.htm" hx-trigger="click" hx-target="#levelContent" hx-swap="innerHTML">Level 1</button>
        <button id="level2TabButton" type="button" class="leveltablinks" hx-get="level2.htm" hx-trigger="click" hx-target="#levelContent" hx-swap="innerHTML">Level 2</button>
        <button id="level3TabButton" type="button" class="leveltablinks" hx-get="level3.htm" hx-trigger="click" hx-target="#levelContent" hx-swap="innerHTML">Level 3</button>
    </div>
    <div id="levelContent"></div>
</div>